<mat-card [ngClass]="groupState() || ''">
  <mat-card-title class="label">
    <span>{{ group?.name }}</span>
    <span class="spacer"></span>
    <span class="body-regular state" [ngClass]="groupState() || ''">
      {{ group?.matching_agents?.online }}/{{ group?.matching_agents?.total }}
    </span>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="last_hb"> {{ group?.ts_created | date: "M/d/yy, HH:mm z" }}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <span class="label">{{ group?.description }}</span>
    <br>
    <app-tag-display [tags]="group.tags">
      <span class="label">Tags</span>
    </app-tag-display>
  </mat-card-content>
</mat-card>
