<ng-template *ngIf="appliedFilters.length > 0">
  <span class="large-input">Applied Filters</span>
  <mat-chip-list>
    <mat-chip *ngFor="let filter of appliedFilters">
      {{ filter.name + ": " + filter?.param }}
    </mat-chip>
  </mat-chip-list>
</ng-template>
<mat-form-field>
  <mat-label>Filter by</mat-label>
  <mat-select [(value)]="selectedFilter">
    <mat-option *ngFor="let option of availableFilters" [value]="option">
      {{ option.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div [ngSwitch]="selectedFilter?.type">
  <ng-container *ngSwitchCase="type.Input"
    ><div [ngTemplateOutlet]="input"></div
  ></ng-container>
  <ng-container *ngSwitchCase="type.Select"
    ><div [ngTemplateOutlet]="select"></div
  ></ng-container>
  <ng-container *ngSwitchCase="type.MultiSelect"
    ><div [ngTemplateOutlet]="multi"></div
  ></ng-container>
  <ng-container *ngSwitchCase="type.Checkbox"
    ><div [ngTemplateOutlet]="checkbox"></div
  ></ng-container>
</div>
<button mat-button class="ghost-button">
  <mat-icon color="accent" (click)="addFilter()">add</mat-icon>
</button>

<ng-template #input>
  <mat-form-field>
    <mat-label>{{ selectedFilter.name }}</mat-label>
    <input matInput type="text" [(ngModel)]="selectedFilter.param" />
  </mat-form-field>
</ng-template>
<ng-template #select>
  <mat-form-field>
    <mat-label>{{ selectedFilter.name }}</mat-label>
    <mat-select [(value)]="selectedFilter.param">
      <mat-option
        *ngFor="let option of selectedFilter.options"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
<ng-template #multi>
  <mat-form-field>
    <mat-label>{{ selectedFilter.name }}</mat-label>
    <mat-select [(value)]="selectedFilter.param">
      <mat-option
        *ngFor="let option of selectedFilter.options"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
<ng-template #checkbox>
  <mat-checkbox [(ngModel)]="selectedFilter.param">{{
    selectedFilter.name
  }}</mat-checkbox>
</ng-template>
