<div class="login-container">
  <h3 class="headline">Log in or sign up</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field>
      <mat-label display-1>Enter your email:</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="loginForm.dirty || loginForm.touched">
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label display-1>Password</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="loginForm.dirty || loginForm.touched">
      </mat-error>
    </mat-form-field>
    <button mat-button><p>Forgot Password?</p></button>
    <button mat-raised-button type="submit" class="login-button"><p>Log in</p></button>
    <p class="subheading-2">Don't have an account?<button mat-button>Register</button></p>
  </form>
</div>
