@import 'src/styles';
@import 'src/typos.scss';


.login-container {
    min-width: 20vw;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.login-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  mat-form-field, input {
    width: 100%;
  }
}

mat-form-field {

  margin: 1em 0;
}
