@import 'src/styles';
@import 'src/typos.scss';

.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;

}


.login-button {
  background-color: $orb-blue;
  color: $orb-theme-text-white;
}
