<mat-toolbar>
  <mat-toolbar-row>
    <span class="page-title">Agent Group List</span>
    <span class="spacer"></span>
    <button
      mat-button
      class="mat-flat-button"
      color="accent"
      (click)="addItem = true"
    >
      Create Group
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <app-filter [availableFilters]="filterOptions"></app-filter>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
  <app-group-item
    fxFlex="1 1 auto"
    *ngFor="let groups of filteredGroups$ | async"
    [group]="groups"
  >
  </app-group-item>
  <app-group-add
    *ngIf="addItem"
    (onClose)="addItem = false"
    fxFlex="1 0 auto"
  ></app-group-add>
</div>
