@import 'src/styles';

.login-container {
    background-color: rgba($color: $orb-theme-background-lighter, $alpha: 0.7);
    padding: 64px;
    min-width: 60ch;
}

.login-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 60ch;
  .mat-form-field {
    margin: 0.5em 0;
    width: 100%;

    &:first-of-type {
      margin-top: 3em !important;
    }

    &:last-of-type {
      margin-bottom: 3em !important;
    }
  }
}



