<mat-toolbar>
  <mat-toolbar-row>
    <span class="page-title">Agent Policy List</span>
    <span class="spacer"></span>
    <button mat-button class="mat-flat-button" color="accent" routerLink="add">
      Create Policy
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Filters</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container"
fxLayout="row"
fxLayoutAlign="space-evenly start">
    <app-policy-item [policy]="policy"
    fxFlex="1 1 auto"
    *ngFor="let policy of policies$ | async">
    </app-policy-item>
</div>
