:host {

}

.mat-card {
  border-top-width: 1px;
  border-top-style: solid;

  > .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .state {
      display: flex;
      align-items: center;

      > mat-icon {
        margin-right: 0.25em;
      }
    }
  }

  > .mat-card-subtitle {
    float: right;
  }

  > .mat-card-content {
    padding-top: 14px;
    height: fit-content;
    width: fit-content;
  }
}
