<mat-card [ngClass]="agent?.state || ''">
  <mat-card-title class="label">
    <span>{{ agent?.name }}</span>
    <button
      class="menu-button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <span class="body-regular state" [ngClass]="agent?.state || ''">
      <mat-icon>{{ stateIcon() }}</mat-icon>
      {{ agent?.state }}
    </span>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="body-regular last_hb">{{
      agent?.ts_last_hb | date: "M/d/yy, HH:mm z"
    }}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <app-tag-display [tags]="agent.orb_tags"
      ><p class="body-regular">Orb Tags</p></app-tag-display
    >
    <app-tag-display [tags]="agent.agent_tags"
      ><p class="body-regular">Agent Tags</p></app-tag-display
    >
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <button class="view" (click)="view.emit(agent)" mat-menu-item>
    <mat-icon>visibility</mat-icon>
    <span>view</span>
  </button>
  <button class="edit" (click)="edit.emit(agent)" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>edit</span>
  </button>
  <button class="delete" (click)="delete.emit(agent)" mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>delete</span>
  </button>
</mat-menu>
