<mat-card [ngClass]="agent?.state || ''">
  <mat-card-title>
    <span>{{ agent?.name }}</span>
    <div class="state" [ngClass]="agent?.state || ''">
      <mat-icon>{{stateIcon()}}</mat-icon>
      <span>{{ agent?.state }}</span>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="last_hb">{{ agent?.ts_last_hb | date: "M/d/yy, HH:mm z" }}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <app-tag-display [tags]="agent.orb_tags"><span>Orb Tags</span></app-tag-display>
    <app-tag-display [tags]="agent.agent_tags"><span>Agent Tags</span></app-tag-display>
  </mat-card-content>
</mat-card>
