<span><ng-content></ng-content></span>
<mat-chip-list>
  <mat-chip [style.background-color]="tag | tagColor" *ngFor="let tag of tags | keyvalue; index as i">
    {{ tag.key + ": " + tag.value
    }}<button mat-button (click)="onRemoveTag(tag)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-chip>
  <mat-chip *ngIf="(tags | json) === '{}'"> No tags. </mat-chip>
</mat-chip-list>

<div>
  <mat-form-field>
    <mat-label>Key: </mat-label>
    <input #keyInput matInput [(ngModel)]="key"/>
  </mat-form-field>
  <span>: </span>
  <mat-form-field>
    <mat-label>Value: </mat-label>
    <input matInput [(ngModel)]="value"/>
  </mat-form-field>
  <button mat-button (click)="onAddTag()"><mat-icon>add</mat-icon></button>
</div>
