<mat-toolbar>
  <mat-toolbar-row>
    <span>Agent List</span>
    <span class="spacer"></span>
    <button mat-button class="mat-flat-button"
            color="accent"
            routerLink="add">Create Agent</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Filters</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list class=""
  [cols]="columnCount" rowHeight="2:3" (window:resize)="onResize($event)" gutterSize="10">
  <mat-grid-tile *ngFor="let agent of agents$ | async">
    <app-agent-item [agent]="agent"></app-agent-item>
  </mat-grid-tile>
</mat-grid-list>

