.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow: auto;
  padding-bottom: 5em;
}

.item {
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em;
  border-radius: 15px;

}
