<mat-card>
  <mat-card-title class="label">
    <span>{{ policy?.name }}</span>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="body-regular last_hb">{{ policy?.ts_created | date: "M/d/yy, HH:mm z" }}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <span>{{ policy?.description }}</span>
    <span>{{ policy?.backend }}</span>
    <span>{{ policy?.version }}</span>
    <span>{{ policy?.schema_version }}</span>
    <span>{{ policy?.format }}</span>
    <span>{{ policy?.policy_data }}</span>
  </mat-card-content>
</mat-card>
