<ng-container>
  <form id="form" [formGroup]="agentForm" (submit)="onSave()">
    <mat-form-field>
      <mat-label>Agent Name: </mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </form>
  <app-tag-control [tags]="tags" (tagsChange)="onTagsChange($event)">
  </app-tag-control>
  <button
    mat-button
    [disabled]="agentForm.invalid"
    mat-flat-button
    color="accent"
    form="form"
    type="submit"
  >
    Save
  </button>
  <button mat-button (click)="onDiscard()" color="warn">Discard</button>
</ng-container>
