// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import './colors.scss';
@import './typos.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$orb-primary: mat.define-palette($orb-grey-palette);
$orb-accent: mat.define-palette(mat.$blue-palette);

// The warn palette is optional (defaults to red).
$orb-warn: mat.define-palette(mat.$pink-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$orb-theme: mat.define-dark-theme((
  color: (
    primary: $orb-primary,
    accent: $orb-accent,
    warn: $orb-warn,
    foreground: $orb-theme-background-light,
    background: $orb-theme-background,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($orb-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body, button, span { margin: 0; font-family: 'Montserrat', sans-serif;}
span { color: $orb-theme-text-gray }

.spacer {
  flex: 1 1 auto;
}

input {
  color: $orb-theme-text-white;
}

.mat-toolbar {
  background-color: $orb-theme-background;
}

.mat-chip {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: x-small;
  color: $orb-theme-background !important;
}

.mat-card {
  background-color: $orb-theme-background-light;
}

.mat-card-title {
  margin-bottom: 14px !important;
  > span {
    color: $orb-theme-text-white;
  }
}

.mat-button {
  padding: 0;
  margin: 0;

  > span {
    color: $orb-theme-text-white !important;
    font-weight: 500;
  }
}

.new, .new > span {
  color: $orb-violet;
}

.online, .online > span {
  color: $orb-green;
}

.offline, .offline > span {
  color: $orb-pink;
}

.stale, .stale > span {
  color: $orb-orange;
}

.removed, .removed > span {
  color: $orb-gray-1;
}
