@use '@angular/material' as mat;


$orb-text-page-title: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 400,
  $font-size: 1.5em,
  $line-height: 2,
  $letter-spacing: normal,
);

$orb-text-large-input: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 500,
  $font-size: 1em,
  $line-height: 1.5,
  $letter-spacing: normal,
);

$orb-text-button: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 400,
  $font-size: 0.875em,
  $line-height: 1,
  $letter-spacing: normal,
);

$orb-text-button-semibold: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 500,
  $font-size: 0.875em,
  $line-height: 1,
  $letter-spacing: normal,
);

$orb-text-label: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 500,
  $font-size: 0.875em, //24px
  $line-height: 1.125em, //3x
  $letter-spacing: -0.0312em,
);

$orb-text-body-regular: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 400,
  $font-size: 0.875em, //24px
  $line-height: 1.25em, //3x
  $letter-spacing: normal,
);

$orb-text-body-selected: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 500,
  $font-size: 0.875em, //24px
  $line-height: 1.25em, //3x
  $letter-spacing: normal,
);

$orb-text-breadcrumbs: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 500,
  $font-size: 0.75em, //24px
  $line-height: 0.75em, //3x
  $letter-spacing: normal,
);

$orb-text-nav-selected: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 700,
  $font-size: 0.75em, //24px
  $line-height: 0.75em, //3x
  $letter-spacing: normal,
);

$orb-text-nav: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: 400,
  $font-size: 0.75em, //24px
  $line-height: 0.75em, //3x
  $letter-spacing: normal,
);

$orb-typography-config: mat.define-typography-config(
    $display-4: $orb-text-body-regular,
    $display-3: $orb-text-body-regular,
    $display-2: $orb-text-body-regular,
    $display-1: $orb-text-body-regular,
    $headline: $orb-text-body-regular,
    $title: $orb-text-page-title,
    $subheading-2: $orb-text-page-title,
    $subheading-1: $orb-text-page-title,
    $body-1: $orb-text-page-title,
    $body-2: $orb-text-body-regular,
    $caption: $orb-text-body-regular,
    $button: $orb-text-body-regular,
    $input: $orb-text-body-regular,
)
