@use '@angular/material' as mat;

$size-small: 12px;
$size-regular: 14px;
$size-large: 16px;
$size-xlarge: 24px;

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$orb-text-page-title: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-regular,
  $font-size: $size-xlarge,
  $line-height: 32px,
  $letter-spacing: normal,
);

$orb-text-large-input: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-medium,
  $font-size: $size-large,
  $line-height: 24px,
  $letter-spacing: normal,
);

$orb-text-button: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-regular,
  $font-size: $size-regular,
  $line-height: 16px,
  $letter-spacing: normal,
);

$orb-text-button-semibold: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-semibold,
  $font-size: $size-regular,
  $line-height: 16px,
  $letter-spacing: normal,
);

$orb-text-label: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-medium,
  $font-size: $size-regular,
  $line-height: 18px,
  $letter-spacing: -0.5px,
);

$orb-text-body-regular: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-regular,
  $font-size: $size-regular,
  $line-height: 20px,
  $letter-spacing: normal,
);

$orb-text-body-selected: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-medium,
  $font-size: $size-regular,
  $line-height: 20px,
  $letter-spacing: normal,
);

$orb-text-breadcrumbs: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-medium,
  $font-size: $size-small,
  $line-height: 12px,
  $letter-spacing: normal,
);

$orb-text-nav-selected: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-bold,
  $font-size: $size-small,
  $line-height: 12px,
  $letter-spacing: normal,
);

$orb-text-nav: mat.define-typography-level(
  $font-family: 'Montserrat',
  $font-weight: $weight-regular,
  $font-size: $size-small,
  $line-height: 12px,
  $letter-spacing: normal,
);

$orb-typography-config: mat.define-typography-config(
    $display-4: $orb-text-nav,
    $display-3: $orb-text-breadcrumbs,
    $display-2: $orb-text-nav-selected,
    $display-1: $orb-text-button,
    $headline: $orb-text-label,
    $title: $orb-text-page-title,
    $subheading-2: $orb-text-body-selected,
    $subheading-1: $orb-text-body-selected,
    $body-1: $orb-text-body-regular,
    $body-2: $orb-text-body-regular,
    $caption: $orb-text-breadcrumbs,
    $button: $orb-text-button,
    $input: $orb-text-large-input,
);

.page-title {
  font-size: $size-xlarge;
  font-weight: $weight-regular;
  line-height: 32px;
}

.large-input {
  font-size: $size-large;
  font-weight: $weight-medium;
  line-height: 24px;
}

.text-button {
  font-size: $size-regular;
  font-weight: $weight-regular;
  line-height: 16px;
}

.button-semibold {
  font-size: $size-regular;
  font-weight: $weight-semibold;
  line-height: 16px;
}

.label {
  font-size: $size-regular;
  font-weight: $weight-medium;
  line-height: 18px;
}

.body-regular {
  font-size: $size-regular;
  font-weight: $weight-regular;
  line-height: 20px;
}

.body-selected {
  font-size: $size-regular;
  font-weight: $weight-medium;
  line-height: 20px;
}

.breadcrumb {
  font-size: $size-small;
  font-weight: $weight-medium;
  line-height: 12px;

  li:last-child {
    font-weight: $weight-semibold;
  }
}

.navigation {
  font-size: $size-small;
  font-weight: $weight-regular;
  line-height: 12px;

  &.active {
    font-weight: $weight-bold;
  }
}
